@use "../../styles/primitive" as *;
@use "../../styles/semantic" as *;
@use "../../styles/breakpoints" as *;

.howItWorks {
    background-color: $white;

    .howItWorksInner {
        padding-block: $space-lg;

        >h1 {
            font-size: $text-section;
            text-align: center;
        }

        >p {
            margin-top: $space-base;
            line-height: $line-height-md;
            color: $grayish-blue-800;
            width: 80%;
            text-align: center;
            margin-inline: auto;
        }
    }
}

.iconStep1 {
    background: $linear-gradient-soft-blue-300;
}

.iconStep2 {
    background: $linear-gradient-blue-500;
}

.iconStep3 {
    background: $linear-gradient-yellow-900;
}

.tagStep1 {
    color: $soft-blue-100;
    background-color: $bg-tag;
}

.tagStep2 {
    color: $dark-blue-900;
    background-color: $dark-blue-300;
}

.tagStep3 {
    color: $yellow-600;
    background-color: $yellow-100;
}

.howItWorksInner {
    @media (min-width: map-get($breakpoints, 'md')) {
        padding-block: $space-5xl;

        >h1 {
            font-size: $text-section-lg;
        }
    }
}