@use "../../styles/primitive" as *;
@use "../../styles/semantic" as *;
@use "../../styles/breakpoints" as *;

.latestNews {
    background-color: $bg-section;

    .latestNewsInner {
        padding-block: $space-lg;

        .latestNewsHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: $space-base;

            .heading {
                font-size: 30px;
            }

            .description {
                margin-top: $space-sm;
                font-size: $text-md;
            }

            .viewAllBtn {
                gap: $space-base;
            }
        }

        .newsList {
            margin-top: $space-2xl;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: $space-xl;

            .news {
                .newsHeader {
                    height: 192px;
                    position: relative;

                    .newsImage {
                        border-top-left-radius: $radius-base;
                        border-top-right-radius: $radius-base;
                        height: auto;
                        object-fit: cover;
                        overflow: hidden;
                    }

                    .newsBadge {
                        position: absolute;
                        top: 22px;
                        left: $space-base;
                        border-radius: $radius-full;
                        padding: 6px $space-md;
                        font-size: $text-xs;
                        background-color: $white;
                    }
                }

                .newsBody {
                    padding-top: $space-2xl;
                    padding-bottom: 23px;
                    padding-inline: $space-lg;
                    display: flex;
                    flex-direction: column;
                    gap: $space-md;
                    background-color: $white;
                    border-radius: $radius-base;

                    .newsMeta {
                        display: flex;
                        align-items: center;
                        gap: $space-sm;
                        color: $grayish-blue-700;

                        .newsTerritory {
                            font-size: $text-xs;
                        }

                        .newsDate {
                            font-size: $text-xs;
                        }
                    }

                    .newsTitle {
                        font-size: $text-lg;
                    }

                    .newsDescription {
                        font-size: $text-sm;
                        line-height: $line-height-sm;
                    }
                }
            }
        }

        @media (min-width: map-get($breakpoints, 'md')) {
            padding-block: $space-5xl;

            .latestNewsHeader {
                .heading {
                    font-size: $text-section-lg;
                }
            }
        }
    }
}