@use "../../styles/semantic" as *;
@use "../../styles//breakpoints" as *;

.container {
    width: 100%;
    min-width: 0;
    margin-inline: auto;
    padding-inline: $space-mobile;
    max-width: $container-lg;

    @media(min-width: breakpoint('md')) {
        padding-inline: $space-tablet;
    }

    @media(min-width: breakpoint('lg')) {
        padding-inline: $space-desktop;
    }

    @media(min-width: breakpoint('xl')) {
        padding-inline: $space-desktop-lg;
    }
}