@use "sass:map";

$breakpoints: (
    xs: 394px,
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1536px,
);

@function breakpoint($name) {
    @return map.get($breakpoints, $name);
}
