$white-100: #FFFFFF1A;
$white-200: #FFFFFF33;
$white-900: #FFFFFF;

$black-900: #000000;

$yellow-100: #FFC4001A;
$yellow-300: #FEFCE8;
$yellow-400: #FFF085;
$yellow-500: #FFC400;
$yellow-600: #C69500;
$linear-gradient-yellow-200: linear-gradient(135deg, rgba(255, 196, 0, 0.05) 0%, #FFFFFF 100%);
$linear-gradient-yellow-400: linear-gradient(90deg, #5899E2 0%, #669EDA 7.14%, #73A2D1 14.29%, #7FA6C8 21.43%, #8CAABE 28.57%, #98AEB5 35.71%, #A3B1AA 42.86%, #AFB4A0 50%, #BBB794 57.14%, #C6BA87 64.29%, #D2BC7A 71.43%, #DDBE6A 78.57%, #E8C057 85.71%, #F4C23D 92.86%, #FFC400 100%);
$linear-gradient-yellow-500: linear-gradient(90deg, #FFC400 0%, #FBC100 14.29%, #F8BE00 28.57%, #F4BB00 42.86%, #F1B900 57.14%, #EDB600 71.43%, #EAB300 85.71%, #E6B000 100%);
$linear-gradient-yellow-900: linear-gradient(135deg, #FFC400 0%, #FBC100 14.29%, #F8BE00 28.57%, #F4BB00 42.86%, #F1B900 57.14%, #EDB600 71.43%, #EAB300 85.71%, #E6B000 100%);

$blue-900: #274060;
$linear-gradient-blue-300: linear-gradient(135deg,
                rgba(88, 153, 226, 0.9) 0%,
                rgba(85, 148, 219, 0.9) 7.14%,
                rgba(83, 144, 212, 0.9) 14.29%,
                rgba(80, 139, 204, 0.9) 21.43%,
                rgba(77, 135, 197, 0.9) 28.57%,
                rgba(74, 131, 190, 0.9) 35.71%,
                rgba(72, 126, 183, 0.9) 42.86%,
                rgba(69, 122, 176, 0.9) 50%,
                rgba(66, 117, 169, 0.9) 57.14%,
                rgba(64, 113, 163, 0.9) 64.29%,
                rgba(61, 109, 156, 0.9) 71.43%,
                rgba(59, 105, 149, 0.9) 78.57%,
                rgba(56, 100, 142, 0.9) 85.71%,
                rgba(54, 96, 136, 0.9) 92.86%,
                rgba(51, 92, 129, 0.9) 100%);
$linear-gradient-blue-400: linear-gradient(135deg, #5899E2 0%, #5594DB 7.14%, #5390D4 14.29%, #508BCC 21.43%, #4D87C5 28.57%, #4A83BE 35.71%, #487EB7 42.86%, #457AB0 50%, #4275A9 57.14%, #4071A3 64.29%, #3D6D9C 71.43%, #3B6995 78.57%, #38648E 85.71%, #366088 92.86%, #335C81 100%);
$linear-gradient-blue-500: linear-gradient(135deg, #335C81 0%, #32597E 9.09%, #31577B 18.18%, #305478 27.27%, #2F5275 36.36%, #2E4F72 45.45%, #2C4D6F 54.55%, #2B4A6C 63.64%, #2A4769 72.73%, #294566 81.82%, #284263 90.91%, #274060 100%);
$linear-gradient-blue-600: linear-gradient(90deg, rgba(39, 64, 96, 0.85) 0%, rgba(41, 68, 101, 0.85) 7.14%, rgba(42, 72, 105, 0.85) 14.29%, rgba(44, 76, 110, 0.85) 21.43%, rgba(46, 80, 115, 0.85) 28.57%, rgba(48, 84, 119, 0.85) 35.71%, rgba(49, 88, 124, 0.85) 42.86%, rgba(51, 92, 129, 0.85) 50%, rgba(56, 100, 142, 0.85) 57.14%, rgba(61, 109, 156, 0.85) 64.29%, rgba(66, 117, 169, 0.85) 71.43%, rgba(72, 126, 183, 0.85) 78.57%, rgba(77, 135, 197, 0.85) 85.71%, rgba(83, 144, 212, 0.85) 92.86%, rgba(88, 153, 226, 0.85) 100%);
$linear-gradient-blue-700: linear-gradient(90deg, #274060 0%, #284263 9.09%, #294566 18.18%, #2A4769 27.27%, #2B4A6C 36.36%, #2C4D6F 45.45%, #2E4F72 54.55%, #2F5275 63.64%, #305478 72.73%, #31577B 81.82%, #32597E 90.91%, #335C81 100%);
$linear-gradient-blue-900: linear-gradient(135deg, #274060 0%, #294465 7.14%, #2A4869 14.29%, #2C4C6E 21.43%, #2E5073 28.57%, #305477 35.71%, #31587C 42.86%, #335C81 50%, #38648E 57.14%, #3D6D9C 64.29%, #4275A9 71.43%, #487EB7 78.57%, #4D87C5 85.71%, #5390D4 92.86%, #5899E2 100%);

$grayish-blue-50: #F9FAFB;
$grayish-blue-100: #E5E7EB;
$grayish-blue-200: #D1D5DC;
$grayish-blue-300: #F3F3F5;
$grayish-blue-350: #F3F4F6;
$grayish-blue-400: #DBEAFE;
$grayish-blue-600: #717182;
$grayish-blue-700: #6a7282;
$grayish-blue-800: #4A5565;
$grayish-blue-850: #99A1AF;
$grayish-blue-900: #364153;

$soft-blue-50: #5899E21A;
$soft-blue-100: #5899E2;
$linear-gradient-soft-blue-300: linear-gradient(135deg, #5899E2 0%, #5594DB 7.14%, #5390D4 14.29%, #508BCC 21.43%, #4D87C5 28.57%, #4A83BE 35.71%, #487EB7 42.86%, #457AB0 50%, #4275A9 57.14%, #4071A3 64.29%, #3D6D9C 71.43%, #3B6995 78.57%, #38648E 85.71%, #366088 92.86%, #335C81 100%);
$linear-gradient-soft-blue-500: linear-gradient(135deg, rgba(88, 153, 226, 0.1) 0%, rgba(39, 64, 96, 0.1) 100%);

$dark-blue-100: #2740601A;
$dark-blue-300: #335C811A;
$dark-blue-800: #101828;
$dark-blue-900: #335C81;

$grayish-red-100: #FEF2F2;
$grayish-red-200: #FFC9C9;

$blue-gradient: linear-gradient(135deg, rgba(39, 64, 96, 0.9) 0%, rgba(41, 68, 101, 0.9) 7.14%, rgba(42, 72, 105, 0.9) 14.29%, rgba(44, 76, 110, 0.9) 21.43%, rgba(46, 80, 115, 0.9) 28.57%, rgba(48, 84, 119, 0.9) 35.71%, rgba(49, 88, 124, 0.9) 42.86%, rgba(51, 92, 129, 0.9) 50%, rgba(56, 100, 142, 0.9) 57.14%, rgba(61, 109, 156, 0.9) 64.29%, rgba(66, 117, 169, 0.9) 71.43%, rgba(72, 126, 183, 0.9) 78.57%, rgba(77, 135, 197, 0.9) 85.71%, rgba(83, 144, 212, 0.9) 92.86%, rgba(88, 153, 226, 0.9) 100%);

$dark-grey-900: #0A0A0A;