$white-100: #ffffff1a;
$white-200: #ffffff33;
$white-900: #ffffff;

$black-900: #000000;

$yellow-100: #ffc4001a;
$yellow-300: #fefce8;
$yellow-400: #fff085;
$yellow-500: #ffc400;
$yellow-600: #c69500;
$linear-gradient-yellow-200: linear-gradient(
  135deg,
  rgba(255, 196, 0, 0.05) 0%,
  #ffffff 100%
);
$linear-gradient-yellow-400: linear-gradient(
  90deg,
  #5899e2 0%,
  #669eda 7.14%,
  #73a2d1 14.29%,
  #7fa6c8 21.43%,
  #8caabe 28.57%,
  #98aeb5 35.71%,
  #a3b1aa 42.86%,
  #afb4a0 50%,
  #bbb794 57.14%,
  #c6ba87 64.29%,
  #d2bc7a 71.43%,
  #ddbe6a 78.57%,
  #e8c057 85.71%,
  #f4c23d 92.86%,
  #ffc400 100%
);
$linear-gradient-yellow-500: linear-gradient(
  90deg,
  #ffc400 0%,
  #fbc100 14.29%,
  #f8be00 28.57%,
  #f4bb00 42.86%,
  #f1b900 57.14%,
  #edb600 71.43%,
  #eab300 85.71%,
  #e6b000 100%
);
$linear-gradient-yellow-900: linear-gradient(
  135deg,
  #ffc400 0%,
  #fbc100 14.29%,
  #f8be00 28.57%,
  #f4bb00 42.86%,
  #f1b900 57.14%,
  #edb600 71.43%,
  #eab300 85.71%,
  #e6b000 100%
);

$blue-900: #274060;
$linear-gradient-blue-300: linear-gradient(
  135deg,
  rgba(88, 153, 226, 0.9) 0%,
  rgba(85, 148, 219, 0.9) 7.14%,
  rgba(83, 144, 212, 0.9) 14.29%,
  rgba(80, 139, 204, 0.9) 21.43%,
  rgba(77, 135, 197, 0.9) 28.57%,
  rgba(74, 131, 190, 0.9) 35.71%,
  rgba(72, 126, 183, 0.9) 42.86%,
  rgba(69, 122, 176, 0.9) 50%,
  rgba(66, 117, 169, 0.9) 57.14%,
  rgba(64, 113, 163, 0.9) 64.29%,
  rgba(61, 109, 156, 0.9) 71.43%,
  rgba(59, 105, 149, 0.9) 78.57%,
  rgba(56, 100, 142, 0.9) 85.71%,
  rgba(54, 96, 136, 0.9) 92.86%,
  rgba(51, 92, 129, 0.9) 100%
);
$linear-gradient-blue-400: linear-gradient(
  135deg,
  #5899e2 0%,
  #5594db 7.14%,
  #5390d4 14.29%,
  #508bcc 21.43%,
  #4d87c5 28.57%,
  #4a83be 35.71%,
  #487eb7 42.86%,
  #457ab0 50%,
  #4275a9 57.14%,
  #4071a3 64.29%,
  #3d6d9c 71.43%,
  #3b6995 78.57%,
  #38648e 85.71%,
  #366088 92.86%,
  #335c81 100%
);
$linear-gradient-blue-500: linear-gradient(
  135deg,
  #335c81 0%,
  #32597e 9.09%,
  #31577b 18.18%,
  #305478 27.27%,
  #2f5275 36.36%,
  #2e4f72 45.45%,
  #2c4d6f 54.55%,
  #2b4a6c 63.64%,
  #2a4769 72.73%,
  #294566 81.82%,
  #284263 90.91%,
  #274060 100%
);
$linear-gradient-blue-600: linear-gradient(
  90deg,
  rgba(39, 64, 96, 0.85) 0%,
  rgba(41, 68, 101, 0.85) 7.14%,
  rgba(42, 72, 105, 0.85) 14.29%,
  rgba(44, 76, 110, 0.85) 21.43%,
  rgba(46, 80, 115, 0.85) 28.57%,
  rgba(48, 84, 119, 0.85) 35.71%,
  rgba(49, 88, 124, 0.85) 42.86%,
  rgba(51, 92, 129, 0.85) 50%,
  rgba(56, 100, 142, 0.85) 57.14%,
  rgba(61, 109, 156, 0.85) 64.29%,
  rgba(66, 117, 169, 0.85) 71.43%,
  rgba(72, 126, 183, 0.85) 78.57%,
  rgba(77, 135, 197, 0.85) 85.71%,
  rgba(83, 144, 212, 0.85) 92.86%,
  rgba(88, 153, 226, 0.85) 100%
);
$linear-gradient-blue-700: linear-gradient(
  90deg,
  #274060 0%,
  #284263 9.09%,
  #294566 18.18%,
  #2a4769 27.27%,
  #2b4a6c 36.36%,
  #2c4d6f 45.45%,
  #2e4f72 54.55%,
  #2f5275 63.64%,
  #305478 72.73%,
  #31577b 81.82%,
  #32597e 90.91%,
  #335c81 100%
);
$linear-gradient-blue-900: linear-gradient(
  135deg,
  #274060 0%,
  #294465 7.14%,
  #2a4869 14.29%,
  #2c4c6e 21.43%,
  #2e5073 28.57%,
  #305477 35.71%,
  #31587c 42.86%,
  #335c81 50%,
  #38648e 57.14%,
  #3d6d9c 64.29%,
  #4275a9 71.43%,
  #487eb7 78.57%,
  #4d87c5 85.71%,
  #5390d4 92.86%,
  #5899e2 100%
);

$grayish-blue-50: #f9fafb;
$grayish-blue-100: #e5e7eb;
$grayish-blue-200: #d1d5dc;
$grayish-blue-300: #f3f3f5;
$grayish-blue-350: #f3f4f6;
$grayish-blue-400: #dbeafe;
$grayish-blue-600: #717182;
$grayish-blue-700: #6a7282;
$grayish-blue-800: #4a5565;
$grayish-blue-850: #99a1af;
$grayish-blue-900: #364153;

$soft-blue-50: #5899e21a;
$soft-blue-100: #5899e2;
$linear-gradient-soft-blue-300: linear-gradient(
  135deg,
  #5899e2 0%,
  #5594db 7.14%,
  #5390d4 14.29%,
  #508bcc 21.43%,
  #4d87c5 28.57%,
  #4a83be 35.71%,
  #487eb7 42.86%,
  #457ab0 50%,
  #4275a9 57.14%,
  #4071a3 64.29%,
  #3d6d9c 71.43%,
  #3b6995 78.57%,
  #38648e 85.71%,
  #366088 92.86%,
  #335c81 100%
);
$linear-gradient-soft-blue-500: linear-gradient(
  135deg,
  rgba(88, 153, 226, 0.1) 0%,
  rgba(39, 64, 96, 0.1) 100%
);

$dark-blue-100: #2740601a;
$dark-blue-300: #335c811a;
$dark-blue-800: #101828;
$dark-blue-900: #335c81;

$grayish-red-100: #fef2f2;
$grayish-red-200: #ffc9c9;

$blue-gradient: linear-gradient(
  135deg,
  rgba(39, 64, 96, 0.9) 0%,
  rgba(41, 68, 101, 0.9) 7.14%,
  rgba(42, 72, 105, 0.9) 14.29%,
  rgba(44, 76, 110, 0.9) 21.43%,
  rgba(46, 80, 115, 0.9) 28.57%,
  rgba(48, 84, 119, 0.9) 35.71%,
  rgba(49, 88, 124, 0.9) 42.86%,
  rgba(51, 92, 129, 0.9) 50%,
  rgba(56, 100, 142, 0.9) 57.14%,
  rgba(61, 109, 156, 0.9) 64.29%,
  rgba(66, 117, 169, 0.9) 71.43%,
  rgba(72, 126, 183, 0.9) 78.57%,
  rgba(77, 135, 197, 0.9) 85.71%,
  rgba(83, 144, 212, 0.9) 92.86%,
  rgba(88, 153, 226, 0.9) 100%
);

$dark-grey-900: #0a0a0a;

$cream-100: #f4f1ea;
$cream-200: #faf8f3;

$teal-100: #14b8a61a;
$teal-500: #14b8a6;
